body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--acw-gradient);
  background: linear-gradient(180deg, rgba(255, 220, 195, 0.45) 0%, rgba(188, 233, 255, 0.45) 100%);
}

.container {
  text-align: center;
  padding: 50px;
  background-color: #ffffff80;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  font-family: var(--material-theme-title-large-font-family);
  font-weight: var(--material-theme-title-large-font-weight);
  color: #40484c;
  font-size: var(--material-theme-title-large-font-size);
  letter-spacing: var(--material-theme-title-large-letter-spacing);
  line-height: var(--material-theme-title-large-line-height);
  font-style: var(--material-theme-title-large-font-style);
}

p {
  font-family: 'Gilroy-Medium', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 5%;
  color: var(--aged-care-watchsyslighton-surface-variant);
}
.image-container {
  margin-bottom: 40px;
}

img {
  width: 182px;
  height: auto;
  display: block;
  margin: 0 auto;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-family: "Gilroy-ExtraBold", Helvetica;
  font-weight: 800;
  color: var(--aged-care-watchsyslighton-surface);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

@media (max-width: 768px) {
  .container {
      max-width: 80%;
      padding: 10px;
  }
  .image-container{
    max-width: 50%;
  }
  h1 {
    font-size: 2rem;
  }
  p{
    font-size: 1.2rem;
  }

}